main.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.nav-link {
  display: flex;
  justify-content: center;
}

.main-link-container {
  width: 100%;
  min-width: 85vw;
  padding: 30px;
  border: 2px solid black;
}

h1.area-name {
  text-align: center;
}
