main.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ade146;
}

a.nav-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.main-link-container {
  width: 100%;
  min-width: 85vw;
  padding: 30px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
}

img.gb-map {
  width: 150px;
}

img.area-map {
  width: 125px;
}

.area-details {
  display: flex;
  flex-direction: column;
}

h1.area-name,
.area-forecast {
  color: white;
}
