body {
  background-color: #ade146;
  color: white;
}

main.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  min-width: 95vw;
}

.nav-icon {
  font-size: 28px;
  margin: 0 5px 0 5px;
  color: white;
}

a.nav-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.main-link-container {
  width: 100%;
  min-width: 85vw;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.main-link-container,
.subarea-record {
  border: 1px solid white;
}

.dark-background,
.even-item {
  background-color: #92bf39;
}

img.gb-map {
  width: 150px;
}

img.area-map {
  width: 125px;
}

.area-details {
  display: flex;
  flex-direction: column;
}

h1.area-name,
.area-forecast {
  color: white;
}

.list-header-banner {
  min-width: 89vw;
  padding-left: 10px;
}

.subarea-record {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 85vw;
  padding: 0 10px 0 10px;
}

.arrow-icon {
  color: white;
  align-self: flex-end;
  font-size: 24px;
}
